nav {
  background-color: #716f90;
}
.navbar-brand {
  background-color: #8e8ba7;
  font-size: 160%;
  color: #fff;
  padding: 1% 5%;
}

li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 130%;
}
